/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.list-group {
    border: black solid;
    border-width: 0px 3px 3px 0 px;
}

.bg-danger {
    background-color: crimson !important;
}

.hover-hidden {
    background-color: transparent !important;

    border: none;
}

.hover-hidden:hover {

    background-color: crimson !important;
    border: black solid 1px;

}